<div fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayout="row" fxLayoutGap.sm="60px" fxLayoutGap.gt-sm="120px" class="mt-5">

  <mat-card fxFlex.lt-sm="100%" fxFlex="500px">
    <mat-card-title>F.H.U Klimatyzacja</mat-card-title>
    <mat-card-subtitle>Paweł Maciejewski</mat-card-subtitle>
    <mat-card-content>
      <p>
        Prowadzi działalność na terenie Dolnego śląska, w oparciu o dobrze
        zrównoważone i zróżnicowane portfolio.
        Od 10 lat nie przerwanie prowadzimy serwis oraz montaż klimatyzacji. Specializujemy się w pomocy klientom przy
        odpowiednim doborze
        sprzetów do ich potrzeb oraz wymagań. Współpracujemy z klientami indywidualnymi oraz firmami. Nasza działalność
        opiera się
        na współpracy z firmami pokroju Panasonic, Mitsubishi, LG, Beko, Xiaomi, Whirlpool, AUX, Sevra i innymi.
      </p>
    </mat-card-content>
  </mat-card>

  <img src="../../assets/img/profil.jpg" alt="" width="250px" height="250px" class="mt-2">
</div>

<footer class="bg-dark" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex fxLayout fxLayoutGap="5px" class="mt-3 mb-3">
    <a href="#">
      <img src="../../assets/fotter-icons/001-facebook.svg" alt="facebook" height="24" width="24" />
    </a>
    <a href="#">
      <img src="../../assets/fotter-icons/002-instagram.svg" alt="instagram" height="24" width="24" />
    </a>
    <a href="#">
      <img src="../../assets/fotter-icons/003-google-plus.svg" alt="google+" height="24" width="24" />
    </a>
  </div>
  <span class="text-white mb-4">Copyright © Adrian Turbiński</span>
</footer>
