a {
  text-decoration: none;
  color: white;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  &:hover {
    color: #007bff;
    background-color: #fff;
    text-decoration: none;
  }
}

.active {
  color: #fff;
  background-color: #007bff;
}

li {
  list-style-type: none;
}

mat-toolbar {
  margin: 0 0 20px 0;
  box-shadow: 0px 0px 20px black;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
