<header class="header" fxLayout="100%" fxLayoutAlign="center center" @imageTranslate>
  <img src="../../assets/img/hero-image-edit.png" alt="hero-image">
</header>

<main>
  <section fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px"
    class="mt-2 mb-5" @cardsTranslate>

    <mat-card class="info-card" fxFlex.lt-sm="100%" fxFlex="500px">
      <mat-icon>style</mat-icon>
      <mat-card-title class="info-title">Różne modele klimatyzacji</mat-card-title>
      <mat-card-content>
        <p>
          Oferujemy wysokiej jakości klimatyzatory renomowanych producentów. klimatyzatory wykonane sa z
          najwyższej jakości komponentów dzięki czemu cieszą sie dużym zainteresowaniem. Zapraszamy do kontaktu.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card" fxFlex.lt-sm="100%" fxFlex="500px">
      <mat-icon>attach_money</mat-icon>
      <mat-card-title class="info-title">Konkurencyjne ceny</mat-card-title>
      <mat-card-content>
        <p>
          Wychodzimy z propozycją najniżyszch cen wprost proporcjonalnie do jakości sprzedawanych sprzetów w najbliższej
          nam okolicy. Klimatyzatory dobierane są w taki sposób, by działały ekonomiczne, wydajnie i dawały pełen
          komfort użytkowania, a jednocześnie doposowujemy je do możliwości klienta.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card" fxFlex.lt-sm="100%" fxFlex="500px">
      <mat-icon>bookmark_border</mat-icon>
      <mat-card-title class="info-title">Fachowa obsługa</mat-card-title>
      <mat-card-content>
        <p>
          Zapewniamy pełne bezpieczeństwo, dzięki regularnemu serwisowi klimatyzacji Poza wysoką funkcjonalnością
          naszych urządzeń, dającą przyjemny chłód, jak i ciepło w mroźne dni, dbamy o zdrowie naszych klientów.
        </p>
      </mat-card-content>
    </mat-card>

  </section>

  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="mb-5">

    <div fxLayoutAlign="center">
      <h1 fxFlex="100%" fxLayout="start">Co oferujemy naszym klientom</h1>
    </div>

    <div class="split" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap="50px">

      <mat-card fxFlex.lt-sm="100%" fxFlex="400px" fxLayout="column" fxLayoutAlign="center center" class="split-card">
        <img mat-card-image src="../../assets/img/split-1.jpg" alt="split">
        <mat-card-title>Klimatyzatory naścienne (split)</mat-card-title>
        <mat-card-content>
          <p>Najczęściej sprzedawaneklimatyzatory stacjonarne, jeżeli chodzi o domy, małe biura i mieszkania.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex.lt-sm="100%" fxFlex="400px" fxLayout="column" fxLayoutAlign="center center" class="split-card">
        <mat-card-title>Klimatyzatory naścienne (split)</mat-card-title>
        <mat-card-content>
          <p>Charakteryzują się dużą różnorodnością asortymentową, wysoką estetyką oraz cichą i wydajną pracą. Dzięki
            podłużnemu kształtowi, zapewniają ponadto łatwy montaż.</p>
        </mat-card-content>
        <img mat-card-image src="../../assets/img/split.jpg" alt="split">
      </mat-card>

    </div>
  </section>

  <section fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap="50px" class="mb-5">

    <mat-card fxFlex.lt-sm="100%" fxFlex="400px" fxLayout="column" fxLayoutAlign="center center" class="split-card">
      <img mat-card-image src="../../assets/img/split-1.jpg" alt="split">
      <mat-card-title>Klimatyzatory multisplit</mat-card-title>
      <mat-card-content>
        <p>Wariant stanowiący odpowiednik urządzeń typu split oferuje dwie lub trzy jednostki naścienne zamiast jednej.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.lt-sm="100%" fxFlex="400px" fxLayout="column" fxLayoutAlign="center center" class="split-card">
      <mat-card-title>Klimatyzatory multisplit</mat-card-title>
      <mat-card-content>
        <p>Przy wyborze klimatyzatora tego rodzaju, konieczne jest dobranie zewnętrznej jednostki o odpowiednio dużej
          mocy.</p>
      </mat-card-content>
      <img mat-card-image src="../../assets/img/split.jpg" alt="split">
    </mat-card>

  </section>
</main>

<footer class="bg-dark" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex fxLayout fxLayoutGap="5px" class="mt-3 mb-3">
    <a href="#">
      <img src="../../assets/fotter-icons/001-facebook.svg" alt="facebook" height="24" width="24" />
    </a>
    <a href="#">
      <img src="../../assets/fotter-icons/002-instagram.svg" alt="instagram" height="24" width="24" />
    </a>
    <a href="#">
      <img src="../../assets/fotter-icons/003-google-plus.svg" alt="google+" height="24" width="24" />
    </a>
  </div>
  <span class="text-white mb-4">Copyright © Adrian Turbiński</span>
</footer>
